{% load staticfiles %}

<!doctype html>
<html itemscope itemtype="http://schema.org/Event">
<head>

  <title itemprop="name">{{ evento.nome }}</title>

  <meta charset="utf-8">
  <meta name="author" content="Meetup PythonRio">
  <meta name="description" content="Meetup de Python no Rio de Janeiro">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- FACEBOOK -->
  <meta property="fb:app_id" content="372862979453673">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://pythonrio.github.io">
  <meta property="og:title" content="Meetup PythonRio">
  <meta property="og:description" content="Meetup de Python no Rio de Janeiro">
  <meta property="og:image" content="{% static 'img/pythonrio.png' %}">
  <!-- / FACEBOOK -->

  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/apple-touch-icon-144x144-precomposed.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114-precomposed.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72-precomposed.png' %}">
  <link rel="apple-touch-icon-precomposed" href="{% static 'img/apple-touch-icon-precomposed.png' %}">
  <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon-precomposed.png' %}">

  <!-- STYLES -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <!-- / STYLES -->
</head>
<body>
  <div class="global">
    <!-- NAVIGATION -->
    <nav id="nav">
      <ul class="wrapper">
        <li class="nav-item">
          <a href="#about" title="Sobre" class="nav-link">Sobre</a>
        </li>

        <li class="nav-item">
          <a href="#location" title="Localização" class="nav-link">Localização</a>
        </li>

        <li class="nav-item">
          <a href="#speakers" title="Convidados" class="nav-link">Convidados</a>
        </li>

        <li class="nav-item">
          <a href="#partners" title="Parceiros" class="nav-link">Parceiros</a>
        </li>

        <li class="nav-item">
          <a href="#contact" title="Contato" class="nav-link">Contato</a>
        </li>
      </ul>
    </nav>

    <hr>

    <!-- HEADER -->
    <header class="header">
      <div class="wrapper">
        <img src="{% static 'img/pythonrio.png' %}" />
        <h1 class="logo-name">
          <a class="logo-link" href="#" title="Meetup PythonRio" itemprop="name">{{ evento.nome }}</a>
        </h1>
        <h2 class="tagline">{{ evento.data|date:"d \d\e F" }}, {{ evento.local }}, {{ evento.cidade }}</h2>

        <div class="call-action-area">
          <a href="{{ evento.inscricoes }}" class="call-action-link" title="Registre-se">Registre-se</a>
        </div>
      </div>
    </header>
    <!--  / HEADER -->

    <hr>

    <!-- CONTENT -->
    <div class="content" id="content">
      <div class="wrapper">

        <!-- ABOUT -->
        <section class="about" id="about">
          <h2 class="section-title">Sobre</h2>
          {{ evento.sobre|linebreaks }}
        </section>
        <!-- / ABOUT -->

        <!-- LOCATION -->
        <section class="location" id="location">
          <h2 class="section-title">Localização</h2>

          <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">{{ evento.endereco }}</span>
            <span itemprop="addressLocality">{{ evento.cidade }}</span>,
            <span itemprop="addressRegion">{{ evento.estado }}</span>
          </p>

          <div id="map-canvas" class="location-area" data-address="{{ evento.endereco }} {{ evento.cidade }} {{ evento.estado }}"></div>
        </section>
        <!-- / LOCATION -->

        <!-- SPEAKERS -->
        <section class="speakers" id="speakers">
          <h2 class="section-title">Convidados</h2>

          <ul class="speakers-list">
            {% for palestra in evento.palestras.all %}
              <li class="speakers-item" itemprop="performer" itemscope itemtype="http://schema.org/Person">
                <span class="speaker-photo">
                  <img class="photo" src="{{ palestra.palestrante.foto.url }}" alt="{{ palestra.palestrante.nome }}" itemprop="image">
                </span>

                <h3 class="speech-title">
                  <span>{{ palestra.titulo }}</span>
                </h3>

                <h3 class="speakers-name">
                  {{ palestra.palestrante.nome }} <a href="{{ palestra.palestrante.github }}" title="">GitHub</a> | <a href="{{ palestra.palestrante.twitter }}" title="">Twitter</a>
                </h3>
                <p class="speakers-bio">
                  {{ palestra.palestrante.sobre|linebreaks }}
                </p>
              </li>
            {% endfor %}
          </ul>
        </section>
        <!-- / SPEAKERS -->

        <!-- PARTNERS -->
        <section class="partners" id="partners">
          <h2 class="section-title">Parceiros</h2>
          <ul class="partners-list">
            {% for parceiro in evento.parceiros.all %}
              <li class="partner-item" itemscope itemtype="http://schema.org/Organization">
                <a href="{{ parceiro.site }}" class="partner-logo partner-link" itemprop="url">
                  <img src="{{ parceiro.logo.url }}" alt="{{ parceiro.nome }}" class="photo" itemprop="image">
                </a>
              </li>
            {% endfor %}
          </ul>
        </section>
        <!-- / PARTNERS -->

        <!-- CONTACT -->
        <section id="contact" class="contact">
          <h2 class="section-title">Contato</h2>
          <form method="post" action="contato/" id="form" class="form">
            <div class="control-group control-group-name">
              <label for="name">Nome</label>
              <input type="text" name="name" id="name" placeholder="Seu nome">
            </div>
            <div class="control-group control-group-email">
              <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="Seu e-mail">
            </div>
            <div class="control-group">
              <label for="message">Mensagem</label>
            <textarea name="" id="message" cols="30" rows="10" placeholder="Sua mensagem"></textarea>
            </div>
            <input class="btn btn-send" type="submit" value="Enviar">
          </form>
        </section>
        <!-- / CONTACT -->

        <!-- FOOTER -->
        <footer class="footer">
          <p>Made with ♥ by <a href="https://github.com/braziljs/conf-boilerplate">Conf Boilerplate</a> and <a href="https://github.com/hora-extra-barra">Horaextra Barra</a> :)</p>
          <p>Cover image from <a href="https://www.flickr.com/photos/jimkillock/7170481375">Jim Killock</a></p>
        </footer>
        <!-- / FOOTER -->
      </div>
    </div>
    <!-- / CONTENT -->
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{% static 'js/jquery.js' %}"><\/script>')</script>

  <script src="https://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="{% static 'js/main.js' %}"></script>

  <!-- GOOGLE ANALYTICS -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33656081-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <!-- /GOOGLE ANALYTICS -->
</body>
</html>
